<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>

                <form class="user" [formGroup]="form" [class.was-validated]="form.dirty && form.invalid"
                      (ngSubmit)="onSubmit(form)">
                  <pre>data = {{ data | json }}</pre>
                  <pre>form.value = {{ form.value | json }}</pre>
                  <div class="form-group">
                    <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                           formControlName="email"
                           aria-describedby="emailHelp" placeholder="Enter Email Address...">
                    <div class="invalid-feedback"
                         *ngIf="form.get('email').invalid && (form.get('email').errors.required ||  form.get('email').errors.email)">
                      請輸入email</div>
                    <pre>{{ data.email | json }}</pre>
                    <pre>
value: {{ form.get('email').value | json }}
pristine: {{ form.get('email').pristine | json }}
dirty: {{ form.get('email').dirty | json }}
touched = {{ form.get('email').touched | json }}
untouched = {{ form.get('email').untouched | json }}
enabled = {{ form.get('email').enabled | json }}
disabled = {{ form.get('email').disabled | json }}
valid = {{ form.get('email').valid | json }}
invalid = {{ form.get('email').invalid | json }}
status = {{ form.get('email').status | json }}
errors = {{ form.get('email').errors | json }}
                        </pre>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user" id="exampleInputPassword"
                           formControlName="password"
                           placeholder="Password">
                    <div class="invalid-feedback" *ngIf="form.get('password').invalid">
                      請輸入3~32字元之大小寫數字</div>
                    <pre>
invalid = {{ form.get('password').invalid | json }}
status = {{ form.get('password').status | json }}
errors = {{ form.get('password').errors | json }}
                        </pre>
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input type="checkbox" class="custom-control-input" id="customCheck"
                             formControlName="isRememberMe">
                      <label class="custom-control-label" for="customCheck">Remember Me</label>
                    </div>
                  </div>

                  <section formArrayName="extra">
                    <section [formGroupName]="i" *ngFor="let g of getFormArray('extra').controls; let i=index">
                      <div>{{i+1}}</div>
                      <input type="text" formControlName="name" class="form-control form-control-user" placeholder="姓名">
                      <input type="text" formControlName="tel" class="form-control form-control-user" placeholder="電話">
                    </section>
                  </section>

                  <button class="btn btn-secondary " type="button" (click)="addExtra()">
                    +
                  </button>

                  <button class="btn btn-primary btn-user btn-block" type="submit">
                    Login
                  </button>
                  <hr>
                  <a href="index.html" class="btn btn-google btn-user btn-block">
                    <i class="fab fa-google fa-fw"></i> Login with Google
                  </a>
                  <a href="index.html" class="btn btn-facebook btn-user btn-block">
                    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                  </a>
                </form>
                <hr>
                <div class="text-center">
                  <a class="small" href="forgot-password.html">Forgot Password?</a>
                </div>
                <div class="text-center">
                  <a class="small" href="register.html">Create an Account!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
